@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;600;700&display=swap');

/*////////////////////////////////////////////////////////////////////////
Table of Contents:
    1. Global Styles
    2. Typografie
    3. Areas
    4. Media Queries
////////////////////////////////////////////////////////////////////////*/

/*////////////////////////
    1. Global Styles
////////////////////////*/

body {
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
}

/*////////////////////////
    2. Typography
////////////////////////*/



/*////////////////////////
    3. Areas
////////////////////////*/




/*////////////////////////
    2. Media Queries
////////////////////////*/
